@media (max-width: 479px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_title: 25px;
    }


    .cont
    {
        padding: 0 20px;
    }


    .swiper-container-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction
    {
        height: 44px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 16px;
    }


    .modal.fancybox__content > .carousel__button.is-close
    {
        width: 44px;
        height: 44px;
    }

    .modal.fancybox__content > .carousel__button.is-close svg
    {
        width: 14px;
        height: 14px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion .accordion_item .head .title
    {
        font-size: 17px;
        line-height: 21px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination a,
    .pagination .sep
    {
        width: 36px;
    }


    .pagination .prev
    {
        margin-right: 12px;
    }

    .pagination .next
    {
        margin-left: 12px;
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header .logo img
    {
        width: 112px;
    }


    .mob_header .search .mini_modal,
    .mob_header .search .mini_modal.active
    {
        top: calc(100% - 47px);
    }


    .mob_header .contacts
    {
        margin-top: 8px;
    }

    .mob_header .contacts .phone
    {
        font-size: 17px;
        line-height: 23px;
    }

    .mob_header .contacts .phone .icon
    {
        display: none;

        width: 16px;
        height: 16px;
        margin-right: 4px;
    }


    .mob_header .contacts .messengers
    {
        width: 160px;
        margin-left: auto;
    }

    .mob_header .contacts .messengers a + a
    {
        margin-left: 4px;
    }

    .mob_header .contacts .messengers .callback_btn
    {
        margin-left: 8px;

        font-size: 11px;
        line-height: 19px;
    }



    /*-------------
        Sidebar
    -------------*/



    /*---------------
        Page head
    ---------------*/



    /*----------------
        Block head
    ----------------*/



    /*------------------
        Form elements
    ------------------*/



    /*----------------
        Typography
    ----------------*/
    .text_block h2
    {
        font-size: 22px;
    }

    .text_block h3
    {
        font-size: 20px;
    }

    .text_block h4
    {
        font-size: 18px;
    }



    /*-----------
        Enter
    -----------*/
    .enter .item .thumb3 > img
    {
        width: 324px;
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider
    {
        padding-bottom: 44px;
    }


    .main_slider .slide .cont
    {
        padding-top: 72px;
        padding-bottom: 72px;
    }


    .main_slider .slide .title
    {
        font-size: 36px;
        line-height: 38px;
    }


    .main_slider .slide .sub_title
    {
        margin-top: 16px;

        font-size: 18px;
        line-height: 22px;
    }

    .main_slider .slide .desc
    {
        font-size: 16px;
        line-height: 24px;
    }



    /*------------
        Pluses
    ------------*/
    .pluses .row > *
    {
        width: calc(50% - 24px);
    }



    /*----------------
        About info
    ----------------*/
    .about_info .link .info.big_h
    {
        width: 50%;
    }


    .about_info .link .info .name
    {
        font-size: 21px;
        line-height: 25px;
    }


    .about_info .link .info:before
    {
        top: 23px;
    }


    .about_info .link .info.bottom
    {
        padding-right: 20px;
        padding-left: 20px;
    }

    .about_info .link .info.bottom .name
    {
        font-size: 16px;
        line-height: 22px;
    }



    /*----------
        Rent
    ----------*/
    .rent .data .stats .row
    {
        margin-bottom: -16px;
        margin-left: 0;
    }

    .rent .data .stats .row > *
    {
        width: 100%;
        margin-bottom: 16px;
        margin-left: 0;
    }


    .rent .data .stats .item
    {
        align-content: center;
        align-items: center;

        font-size: 15px;
        line-height: 23px;
    }

    .rent .data .stats .item .val
    {
        width: 38px;
        min-width: 38px;
        height: 38px;

        font-size: 52px;
        line-height: 38px;
    }

    .rent .data .stats .item br
    {
        display: none;
    }


    .rent .data .features .item
    {
        font-size: 16px;
        line-height: 22px;
    }


    .rent .data .bg
    {
        width: 200px;
    }



    /*-----------------
        Action form
    -----------------*/
    .action_form .data
    {
        padding: 50px 0 50px 22px;
    }



    /*--------------------
        Contacts block
    --------------------*/
    .contacts_block .phone
    {
        width: 100%;
    }

    .contacts_block .messengers
    {
        margin-top: 8px;
    }


    .contacts_block .map
    {
        height: 360px;
    }



    /*------------------
        Trainer info
    ------------------*/
    .trainer_info .image .info
    {
        padding: 20px 28px;

        font-size: 14px;
        line-height: 22px;
    }

    .trainer_info .image .info:before
    {
        height: calc(100% - 40px);
    }

    .trainer_info .image .info .name
    {
        font-size: 24px;
        line-height: 28px;
    }


    .trainer_info .data .description
    {
        line-height: 21px;
    }



    .trainer_info .prev_next .link span
    {
        display: none;
    }



    /*------------
        Groups
    ------------*/
    .groups .category .title
    {
        font-size: 20px;
    }



    /*-------------
        Service
    -------------*/
    .service .data .name
    {
        font-size: 24px;
        line-height: 28px;
    }

    .service .data .desc
    {
        font-size: 14px;
        line-height: 20px;
    }


    .service .data .thumb
    {
        min-height: 272px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .row
    {
        margin-left: 0;
    }

    .articles .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .articles .article .name,
    .articles .article:hover .name
    {
        min-height: 69px;
        padding: 16px 20px;

        font-size: 17px;
        line-height: 23px;
    }



    /*----------------------
        Advantages block
    ----------------------*/
    .advantages_block
    {
        padding: 52px 0;
    }


    .advantages_block .row
    {
        margin-bottom: -20px;
        margin-left: 0;
    }

    .advantages_block .row > *
    {
        width: 100%;
        margin-bottom: 20px;
        margin-left: 0;
    }


    .advantages_block .item
    {
        display: flex;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;

        font-size: 15px;
        line-height: 21px;

        text-align: left;
    }


    .advantages_block .item .icon
    {
        width: 52px;
        height: 48px;
        margin: 0;
    }

    .advantages_block .item .icon + div
    {
        width: calc(100% - 76px);
    }



    /*---------------
        Cafe menu
    ---------------*/
    .cafe_menu .block_title
    {
        font-size: 28px;
    }



    .cafe_menu .about .logo
    {
        height: 100px;
    }

    .cafe_menu .about .logo img
    {
        top: -32px;
        left: -32px;

        height: 164px;
    }



    .cafe_menu .section .title,
    .cafe_menu .section .title.small_m,
    .cafe_menu .section .title.big_m
    {
        margin-bottom: 28px;

        font-size: 22px;

        gap: 16px;
    }


    .cafe_menu .section .title img
    {
        width: 24px;
    }


    .cafe_menu .section .title .size
    {
        right: 92px;

        width: 60px;
        height: 60px;
    }


    .cafe_menu .section .title .size + .size
    {
        width: 68px;
        height: 68px;
    }


    .cafe_menu .section .title .size .val
    {
        font-size: 28px;
    }


    .cafe_menu .section .title .size .unit
    {
        font-size: 18px;
    }



    .cafe_menu .dish
    {
        min-height: 58px;
    }


    .cafe_menu .dish.m_top2
    {
        margin-top: 216px;
    }



    .cafe_menu .dish .name,
    .cafe_menu .dish .name.small
    {
        width: calc(100% - 96px);

        font-size: 16px;

        white-space: normal;
    }


    .cafe_menu .dish .dots
    {
        display: none;
    }


    .cafe_menu .dish .desc
    {
        max-width: calc(100% - 96px);

        font-size: 14px;
    }

    .cafe_menu .col.big .dish .desc
    {
        max-width: calc(100% - 160px);
    }


    .cafe_menu .dish .price
    {
        width: 68px;
        min-width: 68px;

        font-size: 22px;
    }

    .cafe_menu .dish .price span
    {
        font-size: 18px;
    }


    .cafe_menu .dish .weight
    {
        font-size: 15px;
    }



    .cafe_menu .dish .fillers
    {
        width: calc(100% - 96px);
    }


    .cafe_menu .dish .fillers .title
    {
        font-size: 14px;
    }


    .cafe_menu .dish .fillers .items
    {
        font-size: 14px;
    }



    .cafe_menu .dish .price + .price
    {
        width: 68px;
        min-width: 68px;
        margin-left: 16px;
    }



    .cafe_menu .breakfasts_img2
    {
        top: 592px;
        right: 0;

        width: 144px;
    }

    .cafe_menu .breakfasts_img5
    {
        top: 852px;

        width: 220px;
    }

    .cafe_menu .breakfasts_img6
    {
        bottom: 252px;

        width: 328px;
    }



    .cafe_menu .salads_img2
    {
        width: 100px;
    }

    .cafe_menu .salads_img6
    {
        bottom: -56px;

        width: 124px;
    }



    .cafe_menu .soups_img4
    {
        top: -36px;
        left: -8px;

        width: 80px;
    }

    .cafe_menu .soups_img6
    {
        top: -44px;

        width: 100px;
    }



    .cafe_menu .hot_dogs_img1
    {
        top: -56px;

        width: 80px;
    }

    .cafe_menu .hot_dogs_img2
    {
        top: -48px;

        width: 40px;
    }



    .cafe_menu .burgers_img9
    {
        right: 100px;
        bottom: 550px;

        width: 60px;
    }

    .cafe_menu .burgers_img10
    {
        right: 108px;
        bottom: 392px;

        width: 80px;
    }



    .cafe_menu .mains_img3
    {
        right: 16px;
        bottom: -8px;

        width: 52px;
    }



    .cafe_menu .pastes_img1
    {
        top: -60px;
        left: 116px;

        width: 124px;
    }

    .cafe_menu .pastes_img2
    {
        right: 0;

        width: 36px;
    }



    .cafe_menu .pizzas_img6
    {
        top: -44px;
        left: 24px;

        width: 48px;
    }

    .cafe_menu .pizzas_img7
    {
        right: -24px;
    }

    .cafe_menu .pizzas_img8
    {
        right: 36px;
        bottom: -28px;

        width: 108px;
    }



    .cafe_menu .desserts_img6
    {
        width: 56px;
    }

    .cafe_menu .desserts_img7
    {
        top: -32px;

        width: 64px;
    }



    /*-------------
        Catalog
    -------------*/
    .catalog .head > * + *
    {
        margin-top: 12px;
    }


    .catalog .filter_selected
    {
        width: 100%;
    }

    .catalog .filter_selected .btn
    {
        line-height: 15px;
    }


    .catalog .sort
    {
        width: 100%;
        margin-left: 0;
    }


    .catalog .items .row
    {
        margin-left: 0;
    }

    .catalog .items .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .catalog .items .item .sticker
    {
        top: 20px;
        left: 20px;

        font-size: 12px;
    }


    .catalog .items .item .data
    {
        bottom: 20px;

        width: calc(100% - 40px);
        padding: 20px;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info .images .thumbs
    {
        margin-top: 12px;
        padding: 0 32px;
    }


    .product_info .images .thumbs .swiper-button-prev
    {
        left: -32px;
    }

    .product_info .images .thumbs .swiper-button-next
    {
        right: -32px;
    }


    .product_info .data .btn
    {
        width: 100%;
        margin-top: 24px;
    }



    /*------------
        Footer
    ------------*/
    footer .logo img
    {
        width: 124px;
    }


    footer .reserv_btn
    {
        width: 160px;
        height: 48px;

        font-size: 15px;
        line-height: 21px;
    }


    footer .contacts .phone
    {
        width: 100%;
    }


    footer .contacts .messengers
    {
        margin-top: 8px;
    }


    footer .socials
    {
        width: 100%;
        margin-top: 20px;
    }


    footer .creator
    {
        width: 100%;
        margin-top: 20px;
    }



    /*-----------
        PopUp
    -----------*/
    .modal
    {
        padding: 44px 32px;
    }


    .modal_title
    {
        margin-bottom: 20px;

        font-size: 24px;
    }
}
