@media print,
(max-width: 1279px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 15px;
        --font_size_title: 36px;
    }


    html.custom_scroll ::-webkit-scrollbar
    {
        width: 5px;
        height: 5px;
    }


    .block
    {
        margin-bottom: 72px;
    }

    .block.border_bottom.big_padding
    {
        padding-bottom: 72px;
    }


    .carousel.swiper-container .slider_arrows
    {
        margin-bottom: 28px;
    }


    .swiper-container-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction
    {
        height: 72px;
    }



    /*--------------
        ButtonUp
    --------------*/
    .buttonUp
    {
        bottom: 20px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 32px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion .accordion_item + .accordion_item
    {
        margin-top: 20px;
    }


    .accordion .accordion_item .data
    {
        line-height: 23px;

        margin-top: 16px;
        padding-left: 22px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination
    {
        margin-top: 40px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding-bottom: 12px;
    }


    header .bottom
    {
        margin-top: 16px;
    }


    header .logo,
    header .logo img
    {
        width: 160px;
    }


    header .data
    {
        width: calc(100% - 204px);
    }


    header .contacts .phone
    {
        font-size: 22px;

        margin-top: 8px;
    }


    header .col_center
    {
        width: 172px;
    }


    header .col_right
    {
        width: 336px;
        margin-left: 28px;
    }


    header .reserv_btn
    {
        font-size: 17px;
        line-height: 21px;

        height: 48px;
    }


    header .socials a
    {
        width: 44px;
        height: 44px;
    }

    header .socials a + a
    {
        margin-left: 16px;
    }

    header .socials .instagram_link .icon,
    header .socials .facebook_link .icon
    {
        width: 18px;
        height: 18px;
    }

    header .socials .youtube_link .icon
    {
        width: 22px;
        height: 16px;
    }

    header .socials .vkontakte_link .icon
    {
        width: 24px;
        height: 14px;
    }


    header .ice_club_link
    {
        width: 92px;
        height: 46px;
    }

    header .ice_club_link img
    {
        width: 80px;
        height: 34px;
    }


    header .menu .item > a,
    header .menu .item > button
    {
        font-size: 17px;

        min-height: 48px;
    }


    header .menu .sub_menu a
    {
        min-height: 44px;
    }

    header .menu .sub_menu a:before
    {
        top: 20px;
        left: 18px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        margin-bottom: 36px;
        padding-top: 20px;
    }


    .breadcrumbs + .page_title
    {
        margin-top: 20px;
    }

    .page_title
    {
        line-height: calc(var(--font_size_title) + 10px);
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .title
    {
        line-height: calc(var(--font_size_title) + 10px);
    }


    .block_head .desc
    {
        line-height: 23px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .line
    {
        margin-bottom: 16px;
    }


    .form .submit_btn
    {
        font-size: 17px;
        line-height: 21px;

        padding: 14px 24px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block > *,
    .text_block .cols .col > *,
    .text_block blockquote > *,
    .text_block q > *
    {
        margin-bottom: 20px;
    }


    .text_block h2
    {
        font-size: 32px;
        line-height: calc(100% + 6px);

        margin-bottom: 20px;
    }

    .text_block h3
    {
        font-size: 27px;
        line-height: calc(100% + 6px);

        margin-bottom: 20px;
    }

    .text_block h4
    {
        font-size: 24px;
        line-height: calc(100% + 6px);

        margin-bottom: 16px;
    }


    .text_block * + h2,
    .text_block * + h3,
    .text_block * + h4
    {
        margin-top: 44px;
    }


    .text_block .cols
    {
        margin-top: 44px;
        margin-bottom: 44px;
    }

    .text_block .cols + .cols
    {
        margin-top: 72px;
    }

    .text_block .cols .col
    {
        width: calc(50% - 12px);
    }

    .text_block .cols .col.padding_left
    {
        padding-left: 32px;
    }

    .text_block .cols .col.padding_right
    {
        padding-right: 32px;
    }


    .text_block ul,
    .text_block ol
    {
        padding-left: 0;
    }


    .text_block blockquote,
    .text_block q
    {
        font-size: 17px;
        line-height: 25px;

        padding: 18px 30px;
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider
    {
        padding-bottom: 72px;
    }


    .main_slider .slide .cont
    {
        min-height: auto;
        padding-top: 100px;
        padding-bottom: 100px;
    }


    .main_slider .slide .title
    {
        font-size: 58px;
        line-height: calc(var(--font_size_title) + 10px);
    }


    .main_slider .slide .sub_title
    {
        font-size: 24px;
        line-height: calc(var(--font_size_title) + 8px);

        margin-top: 4px;
    }


    .main_slider .slide .points
    {
        margin-top: 32px;
    }


    .main_slider .slide .desc
    {
        font-size: 19px;
        line-height: 27px;

        margin-top: 32px;
    }


    .main_slider .slide .links .order_btn
    {
        font-size: 17px;
        line-height: 21px;

        padding: 16px 28px;
    }


    .main_slider .slide .links .details_link
    {
        font-size: 17px;
        line-height: 23px;
    }



    /*------------
        Pluses
    ------------*/
    .pluses
    {
        padding: 72px 0;
    }


    .pluses .row
    {
        margin-bottom: -40px;
        padding-top: 4px;

        justify-content: center;
    }

    .pluses .row > *
    {
        width: calc(20% - 24px);
    }


    .pluses .item
    {
        font-size: 16px;
        line-height: 22px;
    }

    .pluses .item .icon
    {
        height: 80px;
        margin-bottom: 16px;
    }



    /*---------------
        Get trial
    ---------------*/
    .get_trial
    {
        padding: 132px 0;
    }

    .get_trial:before,
    .get_trial:after
    {
        left: 24px;

        margin-left: 0;
    }


    .get_trial .block_head
    {
        margin-left: 30px !important;
    }


    .get_trial .img
    {
        width: 180px;
    }


    .get_trial .form
    {
        width: 320px;
        margin-right: 0;
        margin-left: 0;
    }


    .get_trial .waves
    {
        margin-right: -104px;
    }

    .get_trial .waves span
    {
        width: 280px;
        height: 280px;
        margin-top: -140px;
    }

    .get_trial .waves span:nth-child(2)
    {
        width: 360px;
        height: 360px;
        margin-top: -180px;
    }


    .get_trial .waves span:nth-child(3)
    {
        width: 440px;
        height: 440px;
        margin-top: -220px;
    }



    /*--------------
        Services
    --------------*/
    .services .carousel.swiper-container .slider_arrows
    {
        margin-bottom: 46px;
    }


    .services .item .name
    {
        font-size: 17px;
        line-height: 23px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info .row > *,
    .about_info .row > *.middle_w
    {
        width: calc(25% - 24px);
    }


    .about_info .link .info
    {
        padding: 28px 32px;
    }

    .about_info .link .info:before
    {
        top: 28px;
    }

    .about_info .link .info .name
    {
        font-size: 26px;
        line-height: 30px;
    }


    .about_info .link .thumb.big_h
    {
        height: 448px;
    }


    .about_info .link .info.big_h
    {
        right: auto;
        left: 0;

        width: 192px;
    }


    .about_info .data
    {
        padding-left: 20px;
    }

    .about_info .data .details
    {
        margin-top: 20px;
    }

    .about_info .data .bg
    {
        right: -92px;

        width: 412px;
    }



    /*----------
        Rent
    ----------*/
    .rent .data
    {
        padding: 0;
    }

    .rent .data:before
    {
        display: none;
    }


    .rent .data .info
    {
        padding-right: 220px;
    }

    .rent .data .stats .item
    {
        font-size: 19px;
        line-height: 23px;
    }

    .rent .data .stats .item .val
    {
        font-size: 100px;
        line-height: 64px;

        width: 64px;
        min-width: 64px;
        height: 64px;
    }


    .rent .data .features
    {
        margin-top: 52px;
    }

    .rent .data .features .item
    {
        font-size: 19px;
        line-height: 25px;
    }

    .rent .data .features .thumb
    {
        width: 92px;
        height: 92px;
        margin-bottom: 8px;
    }


    .rent .data .rent_btn
    {
        font-size: 17px;
        line-height: 21px;

        margin-top: 32px;
        padding: 15px 28px;
    }


    .rent .data .image
    {
        left: calc(100% - 184px);
    }


    .rent .data .bg
    {
        width: 260px;
    }



    /*---------------
        Advantages
    ---------------*/
    .advantages .item
    {
        line-height: 23px;

        padding-right: 23px;
        padding-left: 51px;
    }

    .advantages .item:before
    {
        top: 4px;
        left: 20px;
    }

    .advantages .item .name
    {
        font-size: 19px;
        line-height: 25px;
    }



    /*---------------
        Prev/Next
    ---------------*/
    .prev_next .link
    {
        font-size: 16px;
        line-height: 22px;
    }



    /*-----------------
        Action form
    -----------------*/
    .action_form .data
    {
        padding: 60px 0 60px 32px;
    }

    .action_form .data:after
    {
        display: none;
    }

    .action_form .data:before
    {
        top: 0;
        bottom: 0;

        margin: auto;
    }


    .action_form .img
    {
        margin-left: -220px;
    }



    /*--------------------
        Contacts block
    --------------------*/
    .contacts_block .row
    {
        margin-bottom: -24px;
        margin-left: -24px;
    }


    .contacts_block .map_wrap
    {
        width: calc(66.666% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
        padding-right: 60px;
    }


    .contacts_block .data
    {
        width: 400px;
        padding: 24px;
    }

    .contacts_block .item + .item
    {
        margin-top: 16px;
    }


    .contacts_block .socials
    {
        width: calc(100% + 48px);
        margin: 24px -24px -24px;
        padding: 24px;
    }

    .contacts_block .socials a + a
    {
        margin-left: 40px;
    }


    .contacts_block .map
    {
        width: calc(100% + 24px);
    }


    .contacts_block .text_block
    {
        width: calc(33.333% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }



    /*------------
        Stocks
    ------------*/
    .stocks .stock .name
    {
        font-size: 19px;
        line-height: 25px;
    }



    /*------------
        Prices
    ------------*/
    .prices table th
    {
        height: 56px;
        padding: 8px 16px;
    }


    .prices table td
    {
        line-height: 23px;

        height: 56px;
        padding: 8px 16px;
    }


    .prices .order_btn
    {
        font-size: 17px;
        line-height: 21px;

        margin-top: 32px;
        padding: 16px 28px;
    }



    /*------------------
        Trainer info
    ------------------*/
    .trainer_info .data
    {
        width: calc(50% - 20px);
        padding-bottom: 92px;
    }


    .trainer_info .image .info
    {
        font-size: 16px;
        line-height: 24px;

        padding: 28px 32px;
    }

    .trainer_info .image .info:before
    {
        height: calc(100% - 64px);
    }

    .trainer_info .image .info .name
    {
        font-size: 28px;
        line-height: 34px;
    }


    .trainer_info .data .description
    {
        margin-top: 20px;
        padding: 14px 23px;
    }


    .trainer_info .data .details
    {
        line-height: 20px;

        margin-top: 20px;
    }


    .trainer_info .data .order_btn
    {
        font-size: 17px;
        line-height: 21px;

        margin-top: 20px;
        padding: 16px 28px;
    }


    .trainer_info .prev_next
    {
        width: calc(50vw - 44px);
    }



    /*------------
        Groups
    ------------*/
    .groups
    {
        padding-top: 0;
    }

    .groups:before,
    .groups:after
    {
        display: none;
    }


    .groups .category .title
    {
        font-size: 24px;
        line-height: 30px;

        margin-bottom: 24px;
    }



    /*-------------
        Service
    -------------*/
    .service .data .info
    {
        padding: 72px 52px;
    }

    .service .data .name
    {
        font-size: 32px;
        line-height: 38px;
    }

    .service .data .desc
    {
        line-height: 23px;
    }

    .service .data .order_btn
    {
        font-size: 17px;
        line-height: 21px;

        margin-top: 28px;
        padding: 16px 28px;
    }



    /*---------
        FAQ
    ---------*/
    .faq .accordion
    {
        padding-right: 100px;
    }



    /*--------------
        Articles
    --------------*/
    .articles
    {
        padding-bottom: 0;
    }


    .articles .row
    {
        margin-bottom: -24px;
        margin-left: -24px;
    }

    .articles .row.bg:before
    {
        height: 240px;
    }

    .articles .row > *
    {
        width: calc(33.333% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }


    .articles .article .date
    {
        font-size: 14px;
        line-height: 20px;

        padding: 8px 16px;
    }

    .articles .article .name
    {
        font-size: 21px;
        line-height: 27px;

        min-height: 92px;
        padding: 16px 24px;
    }



    /*-----------
        Enter
    -----------*/
    .enter
    {
        padding-top: 20px;
    }


    .enter .row
    {
        margin-bottom: -52px;
        padding-top: 72px;
    }

    .enter .row > *
    {
        margin-bottom: 52px;
    }

    .enter .row:before
    {
        top: 140px;
    }


    .enter .cont > .logo
    {
        padding: 24px 0;
    }


    .enter .item .logo
    {
        left: 24px;

        padding-bottom: 20px;
    }

    .enter .item .logo.right
    {
        right: 24px;
    }


    .enter .item .thumb
    {
        height: 360px;
    }

    .enter .item .thumb1 > img
    {
        width: 360px;
    }

    .enter .item .thumb2 > img
    {
        left: -100px;

        width: 300px;
    }

    .enter .item .thumb3 > img
    {
        width: 472px;
    }


    .enter .item .desc
    {
        margin-top: 24px;
        padding: 0;
    }


    .enter .item .link
    {
        margin-top: 16px;
        padding: 0;
    }



    /*-----------------
        About block
    -----------------*/
    .about_block .thumb
    {
        width: calc(50% - 15px);
        height: 296px;
    }


    .about_block .data
    {
        width: calc(50% - 15px);
    }

    .about_block .data .title
    {
        font-size: 30px;
        line-height: 36px;

        margin-bottom: 20px;
    }



    /*----------------------
        Advantages block
    ----------------------*/
    .advantages_block
    {
        padding: 64px 0;
    }


    .advantages_block .item
    {
        font-size: 17px;
        line-height: 23px;
    }


    .advantages_block .icon
    {
        height: 60px;
        margin-bottom: 16px;
    }



    /*-------------------------
        Additional services
    -------------------------*/
    .additional_services .block_head
    {
        margin-bottom: 40px;
    }

    .additional_services .block_head .desc
    {
        font-size: 19px;
        line-height: 27px;
    }


    .additional_services .item .info
    {
        padding: 19px 23px 23px;
    }

    .additional_services .item .price
    {
        font-size: 23px;
        line-height: 29px;

        margin-top: 20px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding: 72px 0 80px;
    }


    footer .reserv_btn
    {
        font-size: 17px;
        line-height: 21px;

        width: 180px;
        height: 52px;
        margin-top: 32px;
    }



    footer .menu
    {
        font-size: 14px;
        line-height: 22px;

        padding-left: 23px;
    }



    footer .col_right
    {
        width: 480px;
    }



    footer .socials
    {
        margin-top: 72px;
    }

    footer .socials a
    {
        width: 44px;
        height: 44px;
    }

    footer .socials a + a
    {
        margin-left: 16px;
    }

    footer .socials .instagram_link .icon,
    footer .socials .facebook_link .icon
    {
        width: 18px;
        height: 18px;
    }

    footer .socials .youtube_link .icon
    {
        width: 22px;
        height: 16px;
    }

    footer .socials .vkontakte_link .icon
    {
        width: 24px;
        height: 14px;
    }



    footer .creator
    {
        margin-top: 72px;
    }



    footer.no_bg
    {
        margin-top: 52px;
        padding: 24px 0;
    }



    /*-----------
        PopUp
    -----------*/
    .modal_title
    {
        font-size: 28px;
        line-height: calc(100% + 8px);

        margin-bottom: 24px;
    }
}
